#container {
  height:10000px;
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
  overflow: hidden;
}

#curtain1 {
  height: 600px;
  width: 50%;
  background: url("curtain3.png");
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  transition: all 3s;
}
#curtain2 {
  height: 600px;
  width: 50%;
  background: url("curtain3.png");
  position: absolute;
  top:0;
  right:0;
  z-index: 100;
  transition: all 3s;
}

#smile {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: fixed;
  top: 100px;
  right: -500px;
  z-index: 1;
  background: url("smileband.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 3s;
}
.invisible{
  opacity: 0;
}
#form {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 2;
  background: url("feb11971.jpg")no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 3s;
}
#debut {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("jan11971.jpg")no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 29px;
}
#sheerheartattack {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("queensheer.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#nightattheopera {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("brqueen.jpg")no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#dayattheraces {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("somebody to love.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#wewillrockyou {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("newsoftheworld.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#topoftheworld {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("ontopoftheworld.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#breakfree {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("iwanttobeakfree.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#liveaid {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("mercrury-live-aid.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#daysofourlives {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("daysofourlife.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#comfirming {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("confirming.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #FFF;
  font-size: 32px;
}
#death {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("fmdeath.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#phoenixtrust {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("tribute.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
#lastalbum {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  background: url("madeinheaven.jpg") no-repeat;
  text-align: center;
  word-wrap: break-word;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
}
