#container {
  height:10000px;
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(25,0,0,1)), color-stop(100%, rgba(140,4,16,1)));
  overflow: hidden;
}
#bandlogo{
  height: 100%;
  width: 100%;
  background: url("bandlogo.png") no-repeat;
  position:absolute;
  top: 350px;
  left: 42%;
  z-index: 101;
  transition: all 2.5s;
}
/*#fin{
  height:100%;
  width:100%;
  background: url("fin.png") no-repear;
  position: absolute;
  top:9000px;
  left:400px;
  z-index: 101;
  transition: all 2.5s;
}*/
#curtain1 {
  height: 100%;
  width: 50%;
  background: url("curtain3.png") no-repeat;
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  transition: all 3s;
}
#curtain2 {
  height: 100%;
  width: 50%;
  background: url("curtain3.png") no-repeat;
  position: absolute;
  top:0;
  right:0;
  z-index: 100;
  transition: all 3s;
}

#smile {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: fixed;
  top: 100px;
  right: -500px;
  z-index: 2;
  background: url("smileband.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 1s;
}
.invisible{
  opacity: 0;
}
#form {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: fixed;
  top: 680px;
  left: -500px;
  z-index: 3;
  background: url("feb11971.jpg")no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 2s;
}
#debut {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top:100px;
  right:-500px;
  z-index: 4;
  background: url("jan11971.jpg")no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 29px;
  transition: all 3s;
}
#sheerheartattack {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  left: -500px;
  z-index: 5;
  background: url("queensheer.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 4s;
}
#nightattheopera {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top:100px;
  right:-500px;
  z-index: 6;
  background: url("brqueen.jpg")no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 5s;
}
#dayattheraces {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  left:-500px;
  z-index: 7;
  background: url("somebody to love.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 6s
}
#wewillrockyou {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top:100px;
  right:-500px;
  z-index: 8;
  background: url("newsoftheworld.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 7s;
}
#topoftheworld {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  left:-500px;
  z-index: 9;
  background: url("ontopoftheworld.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 8s;
}
#breakfree {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  right:-500px;
  z-index: 10;
  background: url("iwanttobeakfree.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 9s;
}
#liveaid {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  left: -500px;
  z-index: 11;
  background: url("mercrury-live-aid.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 10s;
}
#daysofourlives {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  right: -500px;
  z-index: 12;
  background: url("daysofourlife.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 11s
}
#comfirming {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  left: -500px;
  z-index: 13;
  background: url("confirming.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #FFF;
  font-size: 32px;
  transition: all 12s;
}
#death {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  right: -500px;
  z-index: 14;
  background: url("fmdeath.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 13s;
}
#phoenixtrust {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  left: -500px;
  z-index: 15;
  background: url("tribute.jpg") no-repeat;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 14s;
}
#lastalbum {
  width: 480px;
  height: 480px;
  margin: 50px auto;
  padding-top: 10px;
  position: absolute;
  top: 100px;
  right: -500px;
  z-index: 16;
  background: url("madeinheaven.jpg") no-repeat;
  text-align: center;
  word-wrap: break-word;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFF;
  font-size: 32px;
  transition: all 15s;
}
